# Dependências do Node.js
node_modules/

# Ignorar pastas e arquivos do Expo
.expo/
*.expo/
*.expo-shared/

# Arquivos de log
*.log

# Arquivos do sistema operacional
.DS_Store

# Arquivos de configuração da IDE
.idea/
.vscode/

# Build outputs
dist/
build/

# Arquivos de cache
.cache/
